<!DOCTYPE html>
<html style="background-image: url({{ url_for('static', filename='light.jpg') }})">
<head>
  <meta charset="UTF-8">
  <title>Recommendation System</title>
  
</head>

<body>
 <div class="login" align= "center"  >
	<h1 style="background-color:SlateBlue;">Sentiment Based Product Recommendation System</h1>
	<h3 align= "left" style="color:#4CAF50;"> Test User Name : 00dog3 </h3>
    
     <!-- Main Input For Receiving Query to our ML -->
    <form action="/recommand" method="post" >
    	<input type="text" name="User" placeholder="User Name"  required="required" style=' font-size: 15pt; height: 30px; width : 200px;'/>

        <button type="submit" class="btn btn-primary btn-block btn-large" onclick="$('#loading').show();" style='background-color: #4CAF50; font-size: 15pt; height: 30px;'>Submit</button>
		<div id="loading" style="display:none; font-size: 140%; font-weight: bold; color:blue;"><img src="loading.gif" alt="" />Loading Please Wait!</div>
    </form>

   <br>
   <br>
   
   {{message}}
   
<div align= "center" style=" caption-side: top; font-size: 130%; font-weight: bold; color:black;">
         
 <strong>  {{ prediction_text }}</strong>
 </div>
     <br>
	 
	 <div align= "center">
     {% for table in tables %}
            {{ table|safe }}
     {% endfor %}
	 </div>
   

 </div>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
 


</body>
</html>
